*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #4837FA;
    --text-color: #F5E2F2;
    --primary-color: #FFEE00;
    --secondary-color: #5A6DB9 ;
    --alpha-color: #6F31DE;
    --shadow: 0 10px 30 px var(--alpha-color);
}

html{
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

body{
    width: 100%;
    height:  100vh;
    max-width: 375px;
    position: relative;
    background-color: var(--alpha-color);
    font-family:  sans-serif;
    color: var(--text-color);
}

::-webkit-scrollbar{ 
    display: none;
}

/* main section */

.main-section{
    width: 100%;
    padding: 15px;
    height: 100%;
    padding-bottom: 100px;
    overflow-y: auto;
}

/* Image Gallery */

.gallery{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--shadow);
    position: relative;
    
}

.gallery img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
}

.gallery img.active{
    opacity: 1;
    transition: 1s;
}

.Headboard{
    margin: 30px 0 10px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 25px;
}

/* song groups */

.song-groups{
    position: relative;
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* song cards */
.song-cards{
    flex: 0 0 auto;
    max-width: 150px;
    height: 100%;
    margin-right: 30px;
}

.picture-cards-songs{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;  
}

.name-cards-songs{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 3px;
    text-transform: capitalize;
}

/* music player section */

/* Minimize view */

.section-music-player{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--alpha-color);
    backdrop-filter: blur(50px);
    transition: 1s;
}

.music-seek-bar{
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    top: -4px;
    height: 8px;
    background: var(--secondary-color);
    overflow: hidden;
}

.music-seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 5px;
    background: var(--primary-color);
    cursor: pointer;
    box-shadow: -400px 0 0 400px var(--primary-color);
}

.current-song-name{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
}

.controls{
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
}

.controls span{
    display: none;
    opacity: 0;
    transition: 1s;
    color: var(--text-color);
}

.section-music-player.active .controls{
    justify-content: space-between;
}

.section-music-player.active .controls span{
    font-size: 25;
    display: block;
    opacity: 0.5;
}

.section-music-player.active .controls span.active{
    color: var(--primary-color);
    opacity: 1;
}

.controls .main i{
    margin: 0 5px;
    display: none;
}

.controls .main i.active{
    display: inline;
}

/* maximize  music player styles */

.section-music-player .hide{
    display: none;
    opacity: 0;
    transition: 1s;
}
.section-music-player.active .hide{
    display: block;
    opacity: 1;
}

.section-music-player.active{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.section-music-player.active .music-seek-bar{
    position: relative;
    display: block;
    border-radius: 30px;
    margin: auto;
    height: 15px;
    width: 100%;
}

.section-music-player.active .current-song-name{
    font-size: 45px;
}

.section-music-player.active .controls{
    width: 100%;
    font-size: 50px;
}

.artist-name{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.cover{
    width: 45vh;
    height: 45vh;
    object-fit: cover;
    margin: auto;
    border-radius: 50px;
    box-shadow: var(--shadow);
}

.current-time{
    position: absolute;
    margin-top: 5px;
    left: 30px;
}

.duration{
    position: absolute;
    margin-top: 5px;
    right: 30px;
}

.icon{
    position: absolute;
    top: 60px;
    transform: scale(1.3);
}

.back-button{
    left: 40px;
}

.nav-button{
    right: 40px;
}

/* volume button */

.volume-slider{
    -webkit-appearance: none;
    width: 100px;
    height: 20px;
    position: absolute;
    right: -65px;
    bottom: 50px;
    transform: rotate(-90deg);
    border-radius: 30px;
    background: var(--secondary-color);
    overflow: hidden;
    opacity: 0;
    display: none;
}

.volume-slider.active{
    opacity: 1;
    display: block;
}

.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 40px;
    width: 10px;
    background: var(--primary-color);
    box-shadow: -200px 0 1px 200px var(--primary-color);
}

/* playlist section */

.playlist{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 30px 0;
    background: var(--alpha-color);
    z-index: 3;
    transition: 1s;
    overflow: auto;
}

.playlist.active {
    right: 0;
}

.title{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin-top: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.list{
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--text-color);
}

.list-cover{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

.list-cover img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
}

.list-cover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: var(--primary-color);
    display: none;  
}

.list.active i{
    display: block;
}

.list .name{
    font-size: 20px;
    text-transform: capitalize;
}